<% include partials/header %>
    <div class="header">
        <h1>Data.gov Visualizer</h1>
        <h2>View the parks</h2>
    </div>
    <div class="content">
        <h2 class="content-subhead">Search for your favorite park</h2>
        <form id="search" action="/" method="POST" class="pure-form">
            <input type="text" name="searchData" class="pure-input">
            <button type="submit" for="search" class="pure-button">Search</button>
            <button type="reset" for="search" class="pure-button">Reset</button>
        </form>
    </div>
<% include partials/footer %>