<% include partials/header %>

<div class="header">
        <h1>All of our Parks</h1>
        <h2>From A to Zion</h2>
    </div>

    <div class="content">
            <% data['data'].forEach(function(park){ %>
                <a href="/<%= park['parkCode'] %>">
                    <div class="pure-card pure-g">
                    <h2 class="content-subheader pure-u-17-24">
                        <%= park['fullName'] %>
                    </h2>
                    <h6 class="content-subheader pure-u-2-24 center-align"><%= park['states'] %></h6>
                    <h6 class="content-subheader pure-u-5-24 right-align"><%= park['designation'] %></h6>
                    </div>
                </a>
            <% }); %>
    </div>
    <div class="alphabet-list">
        <ul>
            <li>A</li><li>B</li><li>C</li><li>D</li><li>E</li>
            <li>F</li><li>G</li><li>H</li><li>I</li><li>J</li>
            <li>K</li><li>L</li><li>M</li><li>N</li><li>O</li>
            <li>P</li><li>Q</li><li>R</li><li>S</li><li>T</li>
            <li>U</li><li>V</li><li>W</li><li>X</li><li>Y</li>
            <li>Z</li>   
        </ul>
    </div>

<% include partials/footer %>