<% include partials/header %>
    <div class="header" style="background-image: url('data['data'][0]['images'][1][url]')">
        <h1><% data %></h1>
    </div>



    <div class="content">


<% include partials/footer %>