<% include partials/header %>
    <div class="header">
        <h1>Find Your Park</h1>
    </div>

    <div class="content">
        <div class="pure-g">
            <% data['data'].forEach(function(park){ %>
                <a href="/park/<%= park['parkCode'] %>">
                    <div class="pure-card">
                        <h2 class="content-subheader pure-u-18-24"><%= park['fullName'] %></h2>
                        <h6 class="content-subheader pure-u-6-24 right-align"><%= park['designation'] %></h6>
                        <p class="pure-u-1"><%= park['description'] %></p>
                    </div>
                </a>
            <% }); %>
        </div>
    </div>

<% include partials/footer %>