<% include partials/header %>

    <div class="content">
        <p><%= data['data'][0]['description'] %></p>
        <p><%= data['data'][0]['directionsInfo'] %></p>
    </div>

<% include partials/footer %>