/***** global/generic modifiers *****/
* {
  word-wrap: break-word;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a p {
  color: #666;
}

body {
  background-color: #f8fff8;
  color: #777;
}

img {
  width: 100%;
}

/***** generic class modifiers *****/
.center-align {
  text-align: center;
}

.right-align {
  text-align: right;
}

.m-0 {
  margin: 0;
}

.mt-0 {
  margin-top: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.m-5 {
  margin: 5px;
}

/***** header *****/

/*
This is the parent `<div>` that contains the menu and the content area.
*/
#layout {
  position: relative;
  left: 0;
  padding-left: 0;
}
#layout.active #menu {
  left: 200px;
  width: 200px;
}

#layout.active {
  left: 200px;
}

/*
The content `<div>` is where all your content goes.
*/
.content {
  padding: 0 1em;
  margin: 0;
  margin-bottom: 50px;
  line-height: 1.6em;
}

.header {
  margin: 0;
  margin-top: 2.2em;
  color: #333;
  text-align: center;
  padding: 2.5em 2em 0;
  border-bottom: 1px solid #eee;
}

.header h1 {
  margin: 0.2em 0;
  font-size: 3em;
  font-weight: 300;
}

.header h2 {
  font-weight: 300;
  color: #ccc;
  padding: 0;
  margin-top: 0;
}

.header img {
  display: inline-block;
  width: 1.75rem;
}

.content-subhead {
  margin: 50px 0 20px 0;
  font-weight: 300;
  color: #888;
}

/*
The `#menu` `<div>` is the parent `<div>` that contains the `.pure-menu` that
appears on the left side of the page.
*/

#menu {
  width: 100%;
  margin: auto 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* so the menu or its navicon stays above all content */
  background: #191818;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.pure-menu {
  display: flex;
  justify-content: space-between;
}
/*
All anchors inside the menu should be styled like this.
*/
#menu a {
  color: #999;
  border: none;
  padding: 0.6em 0 0.6em 0.6em;
}

/*
Remove all background/borders, since we are applying them to #menu.
*/
#menu .pure-menu,
#menu .pure-menu ul {
  border: none;
  background: transparent;
}

/*
Add that light border to separate items into groups.
*/
#menu .pure-menu ul,
#menu .pure-menu .menu-item-divided {
  border-top: 1px solid #333;
}
/*
Change color of the anchor links on hover/focus.
*/
#menu .pure-menu li a:hover,
#menu .pure-menu li a:focus {
  background: #333;
}

/*
This styles the selected menu item `<li>`.
*/
#menu .pure-menu-heading {
  background: #660000;
}

/*
This styles the menu heading.
*/
#menu .pure-menu-heading {
  font-size: 110%;
  color: #fff;
  margin: 0;
  text-align: center;
}

/* -- Dynamic Button For Responsive Menu -------------------------------------*/

.pure-menu-item {
  width: 8em;
  text-align: center;
}

/* alphabet list styling */
.alphabet-list {
  position: sticky;
  top: 2.5rem;

  padding: 0.5em;
  text-align: center;
  background-color: #eee;
  border-left: 1px solid #888;
  height: 96vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.alphabet-list a {
  flex-grow: 1;
  flex-shrink: 1;
  display: block;
  text-decoration: none;
  color: #888;
  width: 100%;
  transition: all 0.1s;
}

.largeLink {
  font-size: 1.6rem;
}

.medLink {
  font-size: 1.2rem;
}

/* alert styling */

/* general card styling (list cards) */
.pure-card {
  margin: 15px 20px;
  padding: 1em 2em;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: 2px 0px 30px 5px #19181811;
  transition: width 0.2s;
}

.pure-card:hover {
  margin: auto;
  width: 100%;
}

/* park cards */
.pure-card-park {
  color: #191818;
  margin: 10px auto;
  padding: 1em 2em;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: 2px 0px 50px 5px #19181811;
  box-sizing: border-box;
  max-width: 100%;
}

.flexgrow {
  flex-grow: 1;
}

/* news cards */
.pure-news-card {
  height: 50vh;
  max-height: 300px;
  padding: 10px;
  box-sizing: border-box;
  transition: all 2s;
}

.pure-news-image {
  width: 100%;
  height: 100%;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: all 2s;
}

.pure-news-heading {
  color: #ddd;
  background: #191818aa;
  padding: 5px;
}

.pure-news-card:hover .pure-news-heading {
  height: 50vh;
}

.pure-news-card:hover .pure-news-content {
  display: block;
}

.pure-news-content {
  border-top: 1px solid #666;
  display: none;
}

.pure-news-content .description {
  font-size: 0.85em;
  line-height: 1.3em;
  overflow: hidden;
  height: 6.4em;
}

.pure-news-content .links a {
  font-size: 0.9em;
  color: #ddd;
  text-decoration: none;
}

.pure-news-content .links a:hover {
  text-decoration: underline;
}

.pure-news-content .links {
  border-top: 1px solid #666;
  padding: 5px;
}

/* section header styling */

a h2,
a h6 {
  font-weight: 500;
  color: #666;
}

#search {
  margin: auto;
  width: 50%;
}

.park {
  margin: auto;
}

.parkHeader {
  height: 60vh;
  margin-top: 2.4em;
  color: #ddd;
  background-size: cover;
  background-blend-mode: lighten;
  display: flex;
  align-content: center;
}

.parkHeader .parkHeaderBlock {
  background: #191818aa;
  padding: 5px;
  width: 50%;
  margin: auto;
}

/* dividers */
/* general (park header hr) */
.divider {
  width: 80%;
  border: 0.5px solid #aaa;
}

/* alphabet list divider */
.alphaDivider {
  padding: 5px 0 0 20px;
  border-bottom: 1px solid #888;
  border-radius: 3px;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  position: sticky;
  top: 2em;
  background-color: #eee;
}

/* modified Alpha for visitor center */
.visitorCenterDivider {
  margin: 10px auto;
  padding: 5px 20px;
  border-bottom: 1px solid #888;
  border-radius: 3px;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  position: sticky;
  top: 2em;
  background-color: #eee;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

#visitorInfo {
  overflow: hidden;
  transition: all 0.2s;
}

.hidden {
  height: 0px !important;
}

.rotate {
  transform: rotateX(180deg);
}

#arrow {
  transition: all 0.1s;
}

.alerts {
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.pure-alert-card {
  color: #333;
  padding: 0 20px;
  margin: 5px auto;
  border: 1px solid #888;
  border-radius: 3px;
  width: 100%;
}

.pure-alert-card .content-subhead {
  margin-top: 20px;
  color: #333;
}

.Caution {
  order: 1;
  background: rgba(252, 185, 0, 0.3);
  border-color: rgb(224, 165, 0, 0.7);
  color: rgb(224, 165, 0);
}

.Information {
  order: 2;
  background: rgb(217, 237, 247);
  border-color: rgb(49, 112, 143, 0.5);
  color: rgb(49, 112, 143);
}

.Park.Closure,
.Danger {
  order: 0;
  background: rgba(255, 0, 0, 0.3);
  border-color: rgb(218, 0, 0, 0.5);
  color: rgb(218, 0, 0);
}

.alert-head {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 0.5em;
}

.alert-head .alert-title {
  margin: 0;
  padding: 0;
}

.alerts {
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
  justify-content: flex-start;
}

.directions,
.weather {
  margin: 0;
  width: 49%;
}

.directions {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  padding: 0;
  width: 100%;
}

.parkMap {
  width: 100%;
  min-height: 100px;
}

table {
  width: 100%;
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.weather-card {
  height: 80%;
  display: flex;
}

.weather-main {
  width: 20%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.weather-body {
  height: 100%;
  width: 80%;
  flex-grow: 1;
}

.tempature {
  display: flex;
  justify-content: space-evenly;
}
.forecast {
  display: flex;
  justify-content: space-evenly;
}
.sunTimes {
  display: flex;
  justify-content: space-evenly;
}

.wi-main {
  font-size: 2em;
}

.wi-discriptor {
  margin: 0 auto;
}
